 .password-list {
    max-width:max-content;
     margin-top: 20px;
     /* Add some margin for spacing */
     border: 1px solid #ccc;
     /* Optional: add a border for better visibility */
     border-radius: 5px;
     /* Optional: rounded corners */
     background-color: white;
     /* Optional: set background color */
 }
.overflow-x-auto {
    overflow-x: auto;
    /* Allow horizontal scrolling */
    -webkit-overflow-scrolling: touch;
    /* Enable smooth scrolling on iOS */
}
 /* Optional: Add some styling for individual password items */
 .password-item {
     padding: 10px;
     /* Add padding for better spacing */
     border-bottom: 1px solid #e0e0e0;
     /* Add a bottom border for separation */
 }

 .password-item:last-child {
     border-bottom: none;
     /* Remove border for the last item */
 }